/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

.env
.env.*
!.env.example
.phpunit.result.cache
coverage
*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/storage
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
/.worktrees
