includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - app
        - modules

    excludePaths:
        analyseAndScan:
            - tests/*
            - modules/*/Tests/*

        analyse:
            - bootstrap/cache/*
            - storage/*
            - vendor/*

    parallel:
        maximumNumberOfProcesses: 1

    tmpDir: storage/framework/cache/phpstan

    reportUnmatchedIgnoredErrors: true